.referencePanel {
    font-family: Arial, Helvetica, sans-serif;
}

.filterSettings {
    display: inline-block;
    font-size: 15pt;
    color: white;
    border-bottom: gray dotted;
    width: 100%;
    cursor: pointer;
}

.settingsPanel {
    display: inline-block;
    border: transparent 10px solid;
    text-align: right;
}

.settingsContainer {
    display: flex;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    border-bottom: gray dotted;
    border-left: gray dotted;
    border-right: gray dotted;
}

.image {
    vertical-align: text-bottom;
    height: 14pt;
    background-color: white;
    margin: 2pt 3pt;
}

.textField {
    padding: 2pt 3pt;
}

.label {
    display: inline-block;
    text-align: right;
    padding-right: 12pt;
}

.button {
    margin: 5pt 5pt 0 5pt;
    padding: 5pt 20pt 5pt 20pt;
}

.input {
    font-size: large;
}